.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 95vw;
}

.charts-wrapper{
    justify-content: space-between;
    height: auto;
    width:90%;
    padding: 2rem;
    box-shadow: var(--shadow);
    border-radius: 0.5rem;
    margin: 2rem;

}